html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.current-players {
  text-align: center;
  position: fixed;
  top: 80px;
  right: 10px; 
}

.top-discard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px; /* Adjust as needed based on your design */
}

.top-discard {
  text-align: center;
}
